.loginPage{
	:global{
		.panel-signin {
		  margin-top: 25%;
		}

		.form-signin {
		  max-width: auto;
		  padding: 15px;
		  margin: 0 auto;

			.checkbox {
			  margin-bottom: 0px;
			}

			.form-control:focus {
			  z-index: 2;
			}
			 input[type="text"] {
			  margin-bottom: 0px;
			}
			 input[type="password"] {
			  margin-bottom: 0px;
			}
		}

		.help-block {
		    margin-bottom: 0;
		}

		.has-error .checkbox{
			color: #333;
		}
	}
}