:global {
  .navbar-brand {
    position:relative;
    padding-left: 60;
  }
  
  .nav .header_fa {
    font-size: 1em;
    margin-right: 0.5em;
  }

  .navbar-default .navbar-nav>li>a:focus {
    outline: none;
  }
}